<% if @current_user %>
  $('#auth-sign-in-modal').modal('hide');

  $("#header-nav").html("<%= j render partial: "layouts/user_widget" %>");
  $("#pinslist").html("<%= j render partial: "pins/pin_list" %>");
  $("#add-pin-modal").modal('show');

<% else %>

  $(".form-feedback").append($('<div class="alert alert-danger" role="alert">Email or Password was bad bad bad</div>'));

<% end %>
