<div id ="pin-table">
   <%= render partial: 'pin_list' %>
</div>

<br>

<div class="modal fade" id="add-pin-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="pin-form">
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>
