/*
 *= require font-awesome
 */
@import 'bootstrap';
@import 'bootstrap-sprockets';
@import 'hover';
@import 'style';

body {
   background: url(https://raw.githubusercontent.com/dannysun725/pinquisite-lab7/master/app/assets/images/45degreee_fabric.png);
}

.container-fluid {
   padding-left: 0px;
   padding-right: 0px;
}

section {
   i {
      margin-top: 140px;
      color: gray
   }
   p {
      color: gray;
      margin-top: 5px;
   }
}


.modal-content-login {
   background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0 none;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
   padding: 15px;
   background: url(https://raw.githubusercontent.com/dannysun725/pinquisite-lab7/master/app/assets/images/backdrop.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   span {
      color: white;
   }
   a:active, a:hover, a {
      color: white;
      font-weight: bold;
   }
}

.modal-content {
   padding: 15px;
}
